<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="vm.isCurrent('/')"><a ui-sref="home" ui-sref-opts="{ reload: true }">Home</a></li>
        <li ng-class="vm.isCurrent('/items')"><a ui-sref="items" ui-sref-opts="{ reload: true }">Items</a></li>
        <li ng-class="vm.isCurrent('/cart')"><a ui-sref="cart" ui-sref-opts="{ reload: true }">Cart</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ vm.date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>

